# Ensures node_modules structure is compatible with Nx
node-linker=hoisted

# Auto install peers
auto-install-peers=true

# Strict peer dependencies can cause issues with some packages
strict-peer-dependencies=false

